#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary. 
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [1]:
#Fill in the values of this dictionary with your answer in the correct format, do not modify the keys
answer_dict =  {
    "Q1" : 392.7417210857633,
    "Q2" : [['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]],
    "Q3" : [
        'CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane',
        'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity',
        'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity'
    ],
    "Q4" : [
        ['Cab/Chassis 2WD', 1993, 4.1122558654247925],
        ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
        ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
        ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
        ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
        ['Camry CNG', 1999, -3.932541757118491],
        ['Camry CNG', 2001, -3.9316423754756538],
        ['Camry CNG', 2000, -3.9316423754756538],
        ['Cab/Chassis 2WD', 1993, 3.3791118637260937]
    ],
    "Q5" : [[1986, 26, 0.0],
        [1987, 26, 0.0],
        [1988, 25, -1.0],
        [1989, 25, 0.0],
        [1999, 24, -1.0],
        [2000, 24, 0.0],
        [2001, 24, 0.0],
        [2002, 24, 0.0],
        [2003, 24, 0.0],
        [2004, 24, 0.0],
        [2005, 24, 0.0],
        [2006, 24, 0.0],
        [2010, 25, 1.0],
        [2011, 26, 1.0],
        [2012, 26, 0.0],
        [2013, 26, 0.0],
        [2015, 30, 4.0],
        [2016, 30, 0.0],
        [2017, 29, -1.0]
    ],
    "Q6" : [
        ['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
        ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
        ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
        ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
        ['Honda', 130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887]],
    "Q7" : [
        [(1984, 1989), 19.0],
        [(1989, 1994), 18.0],
        [(1994, 1999), 19.0],
        [(1999, 2004), 19.0],
        [(2004, 2009), 19.0],
        [(2009, 2014), 21.0],
        [(2014, 2017), 22.0]
    ]
}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [2]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [3]:
print(df.shape)
df.head()

(35952, 15)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [6]:
for col in df.columns:
    print(f'{col} : {len(set(df[col].unique()))} : {sorted(set(df[col].unique()[:5]))} \n')

Make : 127 : ['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', 'American Motors Corporation']

Model : 3608 : ['DJ Po Vehicle 2WD', 'FJ8c Post Office', 'GNX', 'Post Office DJ5 2WD', 'Post Office DJ8 2WD']

Year : 34 : [1984, 1985, 1987, 1997, 1998]

Engine Displacement : 65 : [2.2, 2.5, 3.0, 3.8, 4.2]

Cylinders : 9 : [4.0, 5.0, 6.0, 8.0, 12.0]

Transmission : 45 : ['Automatic (S5)', 'Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd', 'Manual 6-spd']

Drivetrain : 8 : ['2-Wheel Drive', '4-Wheel or All-Wheel Drive', 'All-Wheel Drive', 'Front-Wheel Drive', 'Rear-Wheel Drive']

Vehicle Class : 34 : ['Compact Cars', 'Midsize Cars', 'Special Purpose Vehicle 2WD', 'Sport Utility Vehicle - 4WD', 'Subcompact Cars']

Fuel Type : 13 : ['Diesel', 'Premium', 'Premium and Electricity', 'Premium or E85', 'Regular']

Fuel Barrels/Year : 123 : [13.73375, 14.98227272727273, 19.388823529411766, 20.600625, 25.35461538461539]

City MPG : 48 : [13, 14, 16, 18, 20]

Highway MPG : 49 : [13, 17, 21, 26, 28]

Combined MPG : 46 : [13, 16, 17, 22, 24]

CO2 Emission Grams/Mile : 575 : [370.29166666666674, 403.95454545454544, 522.7647058823529, 555.4375, 683.6153846153846]

Fuel Cost/Year : 55 : [1400, 1500, 1950, 2100, 2550]

In [7]:
for col in df.columns:
    print(f'{col} : {df[col].isnull().sum()}\n')

Make : 0

Model : 0

Year : 0

Engine Displacement : 0

Cylinders : 0

Transmission : 0

Drivetrain : 0

Vehicle Class : 0

Fuel Type : 0

Fuel Barrels/Year : 0

City MPG : 0

Highway MPG : 0

Combined MPG : 0

CO2 Emission Grams/Mile : 0

Fuel Cost/Year : 0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [ ]:
########## Q1
#Your code here

#Example answer:
#answer_dict["Q1"] =  11.547

In [16]:
print(df.query('Make == "Volkswagen"').shape)
df.query('Make == "Volkswagen"').head()

(1047, 15)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34128,Volkswagen,Beetle,2012,2.0,4.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,30,25,355.480000,1600
34129,Volkswagen,Beetle,2012,2.5,5.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
34130,Volkswagen,Beetle,2012,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.733750,21,30,24,370.291667,1700
34131,Volkswagen,Beetle,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,31,25,355.480000,1350
34132,Volkswagen,Beetle,2013,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Diesel,11.943281,28,41,32,313.000000,1150

In [18]:
df[df['Make'].str.startswith('Volks')].shape

(1047, 15)

In [15]:
# Answer:
df.query('Make == "Volkswagen"')['CO2 Emission Grams/Mile'].mean()

392.7417210857633

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [ ]:
########## Q2
#Your code here

#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

In [19]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [24]:
df[['Make', 'Model']].head(3)

         Make                Model
0  AM General    DJ Po Vehicle 2WD
1  AM General     FJ8c Post Office
2  AM General  Post Office DJ5 2WD

In [29]:
unique_model_df = df[['Make', 'Model']].groupby('Make', as_index=False).agg(
    unique_models=('Model', lambda x: ", ".join(set(x))),
    count_unique_models=('Model', 'nunique')
).sort_values(
    by=['count_unique_models'], ascending=False
).reset_index(drop=True)

print(unique_model_df.shape)
unique_model_df.head(5)

(127, 3)

,Make,unique_models,count_unique_models
0,Mercedes-Benz,"R500 4matic, C63 AMG Coupe, E63 AMG, E350 4mat...",333
1,BMW,"328i Coupe, 540i Sport Wagon, 750Li xDrive, 65...",284
2,Chevrolet,"Silverado Classic 1500 4WD, Tracker 4WD Hardto...",253
3,Ford,"Expedition EL 4WD, Explorer USPS 4WD, Escape H...",185
4,GMC,"V15 Suburban 4WD, Canyon 4WD, Canyon Crew Cab ...",163

In [35]:
# Answer:
print(unique_model_df[['Make', 'count_unique_models']].values.tolist()[:5])

[['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]]

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [ ]:
########## Q3
#Your code here

#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium']

In [36]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [43]:
# Answer
print(sorted(df['Fuel Type'].unique()))

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer: 
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [ ]:
########## Q4
#Your code here

In [9]:
df_toyota_cars = df.query('Make == "Toyota"')[['Year', 'Model', 'Fuel Barrels/Year']].reset_index(drop=True)
print(df_toyota_cars.shape)
df_toyota_cars.head(2)

(1836, 3)

   Year            Model  Fuel Barrels/Year
0  1985  1-Ton Truck 2WD          15.695714
1  1985  1-Ton Truck 2WD          15.695714

In [10]:
df_toyota_cars['Fuel Barrels/Year Scale'] = ((df_toyota_cars['Fuel Barrels/Year'] - df_toyota_cars['Fuel Barrels/Year'].mean()) / df_toyota_cars['Fuel Barrels/Year'].std()).sort_values()

In [11]:
print(df_toyota_cars.columns)
df_toyota_cars.head()

Index(['Year', 'Model', 'Fuel Barrels/Year', 'Fuel Barrels/Year Scale'], dtype='object')

   Year            Model  Fuel Barrels/Year  Fuel Barrels/Year Scale
0  1985  1-Ton Truck 2WD          15.695714                -0.112050
1  1985  1-Ton Truck 2WD          15.695714                -0.112050
2  1986  1-Ton Truck 2WD          15.695714                -0.112050
3  1986  1-Ton Truck 2WD          14.330870                -0.445987
4  1987  1-Ton Truck 2WD          15.695714                -0.112050

In [12]:
df_toyota_cars.describe()

              Year  Fuel Barrels/Year  Fuel Barrels/Year Scale
count  1836.000000        1836.000000             1.836000e+03
mean   2000.408497          16.153677             2.012430e-16
std       9.679260           4.087130             1.000000e+00
min    1984.000000           0.080870            -3.932542e+00
25%    1992.000000          13.184400            -7.264945e-01
50%    2000.000000          15.695714            -1.120500e-01
75%    2009.000000          18.311667             5.279963e-01
max    2017.000000          32.961000             4.112256e+00

In [13]:
# Answer
df_toyota_cars.sort_values(
    by=['Fuel Barrels/Year Scale', 'Year'], key=lambda x: abs(x), ascending=[False, False]
)[
    ['Model', 'Year', 'Fuel Barrels/Year Scale']
].iloc[:9].apply(lambda x: list(x), axis=1).tolist()

[['Cab/Chassis 2WD', 1993, 4.112255865424778],
 ['Cab/Chassis 2WD', 1992, 4.112255865424778],
 ['Cab/Chassis 2WD', 1991, 4.112255865424778],
 ['Cab/Chassis 2WD', 1990, 4.112255865424778],
 ['Cab/Chassis 2WD', 1989, 4.112255865424778],
 ['Camry CNG', 1999, -3.932541757118523],
 ['Camry CNG', 2001, -3.9316423754756857],
 ['Camry CNG', 2000, -3.9316423754756857],
 ['Cab/Chassis 2WD', 1993, 3.3791118637260777]]

In [259]:
# Answer
df_toyota_cars.sort_values(
    by=['Fuel Barrels/Year Scale', 'Year'], key=lambda x: abs(x), ascending=[False, False]
)[
    ['Model', 'Year', 'Fuel Barrels/Year Scale']
].iloc[:9].apply(lambda x: list(x), axis=1).tolist()

[['Cab/Chassis 2WD', 1993, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
 ['Camry CNG', 1999, -3.932541757118491],
 ['Camry CNG', 2001, -3.9316423754756538],
 ['Camry CNG', 2000, -3.9316423754756538],
 ['Cab/Chassis 2WD', 1993, 3.3791118637260937]]

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [ ]:
########## Q5
#Your code here

In [59]:
print(df.columns)
df.head(1)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [80]:
df_golf_cars_filter = df[
   (df['Model'] == "Golf") &
   (df['Transmission'] == "Manual 5-spd") &
   (df['Fuel Type'] == "Regular")
][['Model', 'Year', 'Combined MPG']].sort_values(by='Year').reset_index(drop=True)
print(df_golf_cars_filter.shape)
df_golf_cars_filter.head(5)

(19, 3)

  Model  Year  Combined MPG
0  Golf  1986            26
1  Golf  1987            26
2  Golf  1988            25
3  Golf  1989            25
4  Golf  1999            24

In [82]:
df_golf_cars_filter['Combined MPG Diff'] = (df_golf_cars_filter['Combined MPG'] - df_golf_cars_filter['Combined MPG'].shift(1)).fillna(0)
df_golf_cars_filter.head()

  Model  Year  Combined MPG  Combined MPG Diff
0  Golf  1986            26                0.0
1  Golf  1987            26                0.0
2  Golf  1988            25               -1.0
3  Golf  1989            25                0.0
4  Golf  1999            24               -1.0

In [189]:
# Answer
ans = [
    df_golf_cars_filter[col].to_list()
    for col in ['Year', 'Combined MPG', 'Combined MPG Diff']
]

list(map(list, zip(*ans)))

[[1986, 26, 0.0],
 [1987, 26, 0.0],
 [1988, 25, -1.0],
 [1989, 25, 0.0],
 [1999, 24, -1.0],
 [2000, 24, 0.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2003, 24, 0.0],
 [2004, 24, 0.0],
 [2005, 24, 0.0],
 [2006, 24, 0.0],
 [2010, 25, 1.0],
 [2011, 26, 1.0],
 [2012, 26, 0.0],
 [2013, 26, 0.0],
 [2015, 30, 4.0],
 [2016, 30, 0.0],
 [2017, 29, -1.0]]

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Ford and ending with Volkswagen (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [ ]:
########## Q6
#Your code here

In [96]:
print(df.columns)
df.head(1)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [193]:
# Answer
lowest_emisions = df.query('Make in ["Toyota", "Ford", "Volkswagen", "Nissan", "Honda"]')[
    ['Make', 'CO2 Emission Grams/Mile']
].groupby("Make", as_index=False).agg(
    lowest_emisions=("CO2 Emission Grams/Mile", lambda x: sorted(x, reverse=False)[:5]),
)

lowest_emisions['lowest_emisions_ans'] = lowest_emisions.apply(lambda x: [x['Make']] + x['lowest_emisions'], axis=1)

lowest_emisions.set_index('Make').loc[
    ["Toyota", "Ford", "Volkswagen", "Nissan", "Honda"]
]['lowest_emisions_ans'].values.tolist()

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [ ]:
########## Q7
#Your code here

In [108]:
print(df.columns)
df.head(1)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [109]:
print(len(df.Year.unique()))
print(sorted(df.Year.unique()))

34
[1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

In [121]:
unique_years = sorted(df.Year.unique())
df_copy = df[['Year', 'Combined MPG']].copy()

In [134]:
year_groups = {
    i: (
        unique_years[i*5],
        unique_years[
            (i+1)*5 if (i+1)*5 < len(unique_years) else len(unique_years)-1
        ]
    ) for i in range(7)
}
print(year_groups)

{0: (1984, 1989), 1: (1989, 1994), 2: (1994, 1999), 3: (1999, 2004), 4: (2004, 2009), 5: (2009, 2014), 6: (2014, 2017)}

In [141]:
str(eval("(1, 2)"))

'(1, 2)'

In [147]:
for group, interval in year_groups.items():
    group_cond = (df_copy['Year'] >= interval[0]) & (df_copy['Year'] <= interval[1])
    df_copy.loc[group_cond, 'group'] = group
    df_copy.loc[group_cond, 'group_interval'] = str(interval)

df_copy['group_interval'] = df_copy['group_interval'].apply(lambda x: eval(x))

In [148]:
for col in df_copy.columns:
    print(col, df_copy[col].isnull().sum())

Year 0
Combined MPG 0
group 0
group_interval 0

In [149]:
print(df_copy.shape)
df_copy.head()

(35952, 4)

   Year  Combined MPG  group group_interval
0  1984            17    0.0   (1984, 1989)
1  1984            13    0.0   (1984, 1989)
2  1985            16    0.0   (1984, 1989)
3  1985            13    0.0   (1984, 1989)
4  1987            16    0.0   (1984, 1989)

In [159]:
df_copy.groupby(['group_interval'], as_index=False)[['Combined MPG']].median().values.tolist()

[[(1984, 1989), 19.0],
 [(1989, 1994), 18.0],
 [(1994, 1999), 19.0],
 [(1999, 2004), 19.0],
 [(2004, 2009), 19.0],
 [(2009, 2014), 21.0],
 [(2014, 2017), 22.0]]

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [261]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 16 tests in 0.038s

OK

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7).

In [262]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
  ['Camry CNG', 1999, -3.932541757118491],
  ['Camry CNG', 2001, -3.9316423754756538],
  ['Camry CNG', 2000, -3.9316423754756538],
  ['Cab/Chassis 2WD', 1993, 3.3791118637260937]],
 'Q5': [[1986, 26, 0.0],
  [1987, 26, 0.0],
  [1988, 25, -1.0],
  [1989, 25, 0.0],
  [1999, 24, -1.0],
  [2000, 24, 0.0],
  [2001, 24, 0.0],
  [2002, 24, 0.0],
  [2003, 24, 0.0],
  [2004, 24, 0.0],
  [2005, 24, 0.0],
  [2006, 24, 0.0],
  [2010, 25, 1.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1989), 19.0],
  [(1989, 1994), 18.0],
  [(1994, 1999), 19.0],
  [(1999, 2004), 19.0],
  [(2004, 2009), 19.0],
  [(2009, 2014), 21.0],
  [(2014, 2017), 22.0]]}

In [ ]:
import pickle

file_name = "Camilo_Martinez_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)